{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                    <h5>Do Magical Things...</h5>
            </div>
        </div>
{% endblock %}